<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
  </head>
  <body>
    <h1 class="uberMelon"> UberMelon's Most Loved Melons </h1>
    <img id="deathMelon" src="https://pbs.twimg.com/media/BkIu1LHIEAEK7P_.jpg">
<br>
    <form class="nameForm" action="/get-name">
      Name:<input type="text" name="name" required>
     <input type="submit" value="Submit">
    </form>

  </body>
</html>
